.rectangular {
    background: url("agri-banner\ .jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}
.banner {
    position: relative;
}
.circle {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
}
.card img {
    display: block;
}
